* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem;
}

#todoinput {
  padding: 0.5rem;
  border-radius: 10px;
}

#btn {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

#todolist li {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

ul {
  padding: 2rem;
}
